DB_NAME='<nome_banco_de_dados>'
DB_USER='<usuario>'
DB_PASSWORD='<senha>'
DB_HOST='<host>'
DB_PORT=<porta>

PROTHEUS_ODBC_DRIVER="ODBC Driver 17 for SQL Server"
PROTHEUS_DB_USER="<usuario_bd_protheus>"
PROTHEUS_DB_PASSWORD="<senha>"
PROTHEUS_DB_HOST="<host>,<porta>"
PROTHEUS_DB_DATABASE="<nome_bd_protheus>"

# Usuário padrão do sistema. Diferente do admin definido em pyrhon manage.py createsuperuser.
USER_SYSTEM=system
PASS_SYSTEM=<senha para usuario system>

# Superadmin
USER_ADMIN=<usuario admin>
PASS_ADMIN=<senha admin>

REDIS_HOST=<host_redis>
REDIS_PORT=<porta_redis

# True para desenvolvimento False para produção
DEBUG=True

# True para desenvolvimento False para produção
CSRF_COOKIE_SECURE=False

# True para desenvolvimento False para produção
SESSION_COOKIE_SECURE=False